<div class="man-hour-pdf">
  <header class="header">
    <div class="info_header">
      <img
        alt="img"
        class="winkong_marinsmart_logo"
        src="https://winkong-frontend.oss-cn-qingdao.aliyuncs.com/images/wk-mhc-ui/winkong_marinsmart_logo.png"
        title="logo"
      />
      <div class="title-box">
        <ng-container *ngIf="quotationTemplate === 1">
          <p class="size-big">青 岛 儒 海 船 舶 股 份 有 限 公 司</p>
          <p class="size-big">WinKong Marine Engineering Co.，Ltd.</p>
          <p class="size-middle">贻贝MarinSmart船海服务互联网平台</p>
          <p class="size-middle">MARINSMART PLATFORM</p>
        </ng-container>

        <ng-container *ngIf="quotationTemplate === 2">
          <p class="size-big">MARINSMART GLOBAL SERVICE PTE LTD</p>
          <p class="size-middle">
            2 Venture Drive, #08-16 Vision Exchange, Singapore 608526
          </p>
          <p class="size-middle">
            +65 9199 1959 | sales&#64;mgs.com.sg | www.winkong.net
          </p>
          <p class="size-middle">Company Registration: 202142747G</p>
        </ng-container>
      </div>
      <div class="aeo_box">
        <img
          *ngIf="quotationTemplate === 1"
          alt="img"
          class="aeo"
          src="https://winkong-frontend.oss-cn-qingdao.aliyuncs.com/images/wk-mhc-ui/print/aeo-logo.png"
          title="aeo-logo"
        />
      </div>
    </div>
  </header>
  <section class="content">
    <h1 class="title">Quotation</h1>
    <h2 class="currencyName">
      <span>币种 Currency：</span>
      <span>{{ currencyName }}</span>
    </h2>
    <table class="table-bg">
      <tbody>
        <tr>
          <td class="bold">
            <p>船名</p>
            <p>Vessel Name</p>
          </td>
          <td>{{ formData?.vesselName }}</td>
          <td class="bold">
            <p>日期</p>
            <p>Date</p>
          </td>
          <td>{{ formData?.date | date : 'yyyy/MM/dd' }}</td>
        </tr>
        <tr>
          <td class="bold">
            <p>IMO No.</p>
          </td>
          <td>{{ formData?.imoNo }}</td>
          <td class="bold">
            <p>船型</p>
            <p>Vessel Type</p>
          </td>
          <td>{{ formData?.vesselType }}</td>
        </tr>
        <tr>
          <td class="bold">
            <p>客户名称</p>
            <p>Customer Name</p>
          </td>
          <td>{{ formData?.customerName }}</td>
          <td class="bold">
            <p>港口</p>
            <p>Service Port</p>
          </td>
          <td>{{ formData?.servicePort }}</td>
        </tr>
        <tr>
          <td class="bold">
            <p>联系人</p>
            <p>Attention</p>
          </td>
          <td>{{ formData?.attention }}</td>
          <td class="bold">
            <p>我方报价号</p>
            <p>WK Offer No.</p>
          </td>
          <td>{{ formData?.wkOfferNo }}</td>
        </tr>
        <tr>
          <td class="bold">
            <p>询价号</p>
            <p>Your Ref No.</p>
          </td>
          <td>{{ formData?.youRefNo }}</td>
          <td class="bold">
            <p>报价有效期</p>
            <p>Quotation Validity</p>
          </td>
          <td>{{ formData?.quotationValidity }}</td>
        </tr>
        <tr>
          <td class="bold">
            <p>确认号</p>
            <p>PO No.</p>
          </td>
          <td>{{ formData?.poNo }}</td>
          <td class="bold">
            <p>询价发起人</p>
            <p>PIC of WinKong</p>
          </td>
          <td>{{ formData?.inquiryInitiator }}</td>
        </tr>
      </tbody>
    </table>
    <table
      class="table-blue"
      *ngIf="formData?.descriptions && formData.descriptions.length > 0"
    >
      <thead>
        <tr class="bold">
          <td style="min-width: 42px">
            <p>序号</p>
            <p>Item</p>
          </td>
          <td style="min-width: 100px">
            <p>项目内容</p>
            <p>Description</p>
          </td>
          <td style="min-width: 74px">
            <p>单价</p>
            <p>Unit Price</p>
          </td>
          <td style="min-width: 42px">
            <p>单位</p>
            <p>Unit</p>
          </td>
          <td style="min-width: 42px">
            <p>数量</p>
            <p>Q'ty</p>
          </td>
          <td style="min-width: 78px" *ngIf="displayDiscounts === 1">
            <p>折扣</p>
            <p>Discount</p>
          </td>
          <td style="min-width: 78px">
            <p>合计</p>
            <p>Amount</p>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of formData?.descriptions">
          <td>{{ item?.index }}</td>
          <td class="pre-line en-word-line">
            {{ item?.content }}
          </td>
          <ng-container [ngSwitch]="item?.mergeFlag">
            <ng-container *ngSwitchCase="1">
              <td [colSpan]="displayDiscounts === 1 ? 5 : 4" class="pre-line">
                {{ item?.mergeContent }}
              </td>
            </ng-container>

            <ng-container *ngSwitchCase="0">
              <td
                [ngClass]="{
                  blue: item?.fixedAppendFlag,
                  'line-through':
                    item?.discountType === 2 && !item?.fixedAppendFlag
                }"
              >
                {{ item?.price | permilTransform }}
              </td>
              <td>{{ item?.unit }}</td>
              <td>{{ item?.qty }}</td>
              <td *ngIf="displayDiscounts === 1">{{ item?.discount }}</td>
              <td
                [ngClass]="{
                  blue: item?.fixedAppendFlag,
                  'line-through':
                    item?.discountType === 2 && !item?.fixedAppendFlag
                }"
              >
                {{ item?.amount | permilTransform }}
              </td>
            </ng-container>
          </ng-container>
        </tr>
        <tr *ngIf="formData?.serviceTaxRate">
          <td [colSpan]="displayDiscounts === 1 ? 6 : 5">
            <p style="text-align: right">服务税率</p>
            <p style="text-align: right">VAT Of Service</p>
          </td>
          <td>{{ formData.serviceTaxRate }}</td>
        </tr>
        <tr *ngIf="formData?.productTaxRate">
          <td [colSpan]="displayDiscounts === 1 ? 6 : 5">
            <p style="text-align: right">备件税率</p>
            <p style="text-align: right">VAT Of Spare Parts</p>
          </td>
          <td>{{ formData.productTaxRate }}</td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="formData?.remarks && formData.remarks.length > 0">
      <tbody>
        <tr class="bold">
          <td>备注Remark</td>
        </tr>
        <tr>
          <td>
            <p *ngFor="let item of formData?.remarks">{{ item }}</p>
          </td>
        </tr>
      </tbody>
    </table>

    <table
      *ngIf="
        formData?.servicePaymentTerms &&
        formData?.servicePaymentTerms.length > 0
      "
    >
      <tbody>
        <tr class="bold">
          <td>服务支付条款 Service Payment Terms</td>
        </tr>
        <tr>
          <td>
            <p *ngFor="let item of formData?.servicePaymentTerms">{{ item }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      *ngIf="
        formData?.paymentTermsForSpareParts &&
        formData?.paymentTermsForSpareParts.length > 0
      "
    >
      <tbody>
        <tr class="bold">
          <td colspan="2">备件支付条款 Payment Terms For Spare Parts</td>
        </tr>
        <tr
          *ngFor="
            let item of formData?.paymentTermsForSpareParts;
            index as index
          "
        >
          <td style="width: 30px">{{ index + 1 }}</td>
          <td>
            <p>{{ item }}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="formData?.inscribe">
      <tbody>
        <tr>
          <td class="pre-line">{{ formData?.inscribe }}</td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <td>
            <img
              alt="img"
              class="bottom-img"
              src="http://winkong-frontend.oss-cn-qingdao.aliyuncs.com/images/wk-mhc-ui/print/cooperative-brand.png"
              title="cooperative-brand"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
